html {
  display: flex;
  width: 100%;
  height: 100%;
}

body {
  left-margin: auto;
  right-margin: auto;
}

.center-xy {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.center-x {
  left: 50%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
}

.center-text {
  text-align: center;
}

h1 {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 900;
  font-size: 4.5vw;
  color: #fff;
}

p {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 200;
  font-size: 1.3vw;
  color: #fff;
}

a {
  text-decoration: none;
  color: #32cd32;
}

a:hover:not(.active) {
  color: #54ef54;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
}

#content {
  position: absolute;
  width: 60%;
}

#splash-title {
  margin-top: 0;
}
